git+https://github.com/amazon-science/chronos-forecasting.git@6d68ed7c4ed2805d122d77b4660765b4089de5ca
torch==2.4.1
pmdarima==2.1.1
streamlit==1.31.0
yfinance==0.2.61
gmdh==1.0.3
tqdm==4.66.1
tensorflow==2.16.1
matplotlib==3.10.8
scipy==1.17.1
requests==2.31.0